.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
  }

  .code {
    white-space: pre-wrap;
  }
}

.param {
  display: flex;
  gap: 10px;
}
